body{
    background: url(Images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position:fixed;
    
}

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans serif;
    text-decoration: none;
}


:root{
    --bg-color:#222327;
    --text-color:white;
    --main-color:#29fd53;
}

header
{
    
    display: flex;
    flex-wrap: wrap;
    position:fixed;
    width:100%;
    top:0;
    right:0;
    z-index:1000;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background:transparent;
    padding:28px 10%;
    transition:all .50s ease;
    caret-color: transparent;
}

.logo {
    display: flex;
    align-items: center;
   
}

.logo i{
    color:var(--main-color);
    font-size:28px;
    margin-right:3px;
}

.logo span, h4{
    color:var(--text-color);
    font-size:3.7rem;
    font-weight:600;
}

.logo h4{
    color:#be1143;
}



.navbar{
    display:flex;   
    margin-right:300px;
}

ul{
    list-style-type: none;
}

.navbar a{
    color:var(--text-color);
    font-size:1rem;
    padding:5px 0;
    margin:0px 35px;
    transition:all .50s ease;
    
}


.navbar ul li a{
    display:block;
    padding:10px
}

.navbar ul li a:hover{
    border-radius:10px;
    background:#112c66
}

.navbar a:hover{
    color:#be1143;
}

.main a{
    margin-right:5px;
    margin-left: 5px;
    color: var(--text-color);
    font-size:1.1rem;
    font-weight:500;
    transition: all .50s ease;
    background-color: white;
    color: black;
    padding:10px 10px;
    border-radius: 50%;
    }
    
    .main i{
        font-size:20px;
        /* margin-right:7px; */
    }
    
    .main a:hover{
        color:black;
    }
    
    #menu-icon{
        font-size:35px;
        color:white;
        cursor: pointer;
        z-index: 1000;
        display:none;
    }
    
    .main .heading{
        display: flex;
        color:black;
        padding:10px 10px;
        border-radius: 10px;
        background-color: white;
    }


    @media (max-width:1248px){
        #menu-icon{
            display:block;
        }
    
        .navbar a{
            padding-bottom: 50px;
            color: black;
        }
    
        .navbar{
            position:absolute;
            top:60%;
            right:-100%;
            width:150px;
            height:17vh;
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius:10px;
            transition: all .50s ease;
        }
    
        .navbar{
            display: block;
            margin:12px 20px;
            padding:5px 10px;
            transition:all 0.50s ease;
        }
    
        .navbar a:hover{
            color:#be1143;
            transform:translateY(5px);
        }
    
        .navbar.open{
            right:2%;
        }
    
    
    }


